@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* shared style */

.display-flex {
    display: flex;
}

.text-dark2 {
    color: rgb(66, 66, 66);
}

.text-dark3 {
    color: rgb(114, 114, 114);
}

.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    font-size: 1.3rem;
    margin-bottom: 40px;
    border: none;

}

/* nav bar */

.navbar {
    justify-content: space-between;

}

.nav-items {
    list-style: none;

}

.nav-links {
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner */

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner-content-title {
    text-align: center;
    color: rgb(19, 19, 19);
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 0;
}

.banner-image {
    max-width: 100%;
    border-radius: 8px;
}

/* our feature */
.feature-container {
    max-width: 1440px;
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: space-around;
    gap: 10px;


}

.feature-images-container img {
    border-radius: 8px;
}

.feature-images-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.feature-description {
    max-width: 537px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: azure;
    padding: 5px;
    text-align: center;
}

.feature-description-title {
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 0px;
}

.Features {
    color: rgb(255, 144, 14);
}

/* Enjoyable-feature-container */
.Enjoyable-feature-container {
    max-width: 1440px;
    margin: 20px auto;
    
    gap: 140px;
}

/* .Enjoyable-feature-images-container {
    width: 100%;
}

.Enjoyable-feature-images-container img{
    width: 100%;
} */

.Enjoyable-feature-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 2.7rem;
    font-weight: 700;
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 21px;
    margin-bottom: 0;
}

.Enjoyable-feature-content {
    max-width: 586px;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.Enjoyable-feature-content-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.experience {
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background: rgb(255, 144, 14);
    padding: 45px 42px;
    border: none;
    font-size: 1.5rem;
    margin-left: -100px;
    margin-top: -120px;
}

.experience span {
    font-weight: 700;
    font-size: 4rem;
}






/* Small device */

@media screen and (max-width: 576px) {

    .navbar,
    .nav-items,
    .feature-container,
    .Enjoyable-feature-container {
        flex-direction: column;
    }

    .feature-images-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .navbar {
        text-align: center;
    }

    .Enjoyable-feature-images-container img{
        width: 100%;
    }

    .experience {
        margin-left:0px;
        margin-top: 20px;
    }
}

/* Medium devices */

@media screen and (min-width:576px) and (max-width: 992px) {

    .feature-container,
    .Enjoyable-feature-container {
        flex-direction: column;
    }

    .Enjoyable-feature-images-container img{
        width:100%;
    }
    .experience {
        margin-left:0px;
        margin-top: 20px;
    }
}